---
---

@charset "utf-8";

$link-color: black;
$masthead-link-color: black;

$text-color: black;

$sans-serif-narrow: "Roboto Condensed", sans-serif;
$sans-serif: "Roboto Condensed", sans-serif;

$global-font-family: $sans-serif-narrow;
$header-font-family: $sans-serif-narrow;





@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



