---
---

@charset "utf-8";

$sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$serif: "Roboto Slab", Georgia, Times, serif;

$global-font-family: $sans-serif;
$header-font-family: $sans-serif;

$masthead-link-color: black;
$masthead-link-color-hover: rgb(90, 90, 90);
$muted-link-color: rgb(90, 90, 90);
$active-color: rgb(90, 90, 90);
$link-color: rgb(90, 90, 90);
$text-color: black;

$info-color: rgba(255,255,255,0);

$primary-color: black;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



