---
---

@charset "utf-8";

$sans-serif: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$serif: "Roboto Slab", Georgia, Times, serif;

$global-font-family: $serif;
$header-font-family: $sans-serif;

$muted-text-color: black;

$text-color: black;




@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



